body {
    padding-top: 70px;
    padding-bottom: 20px;
    background: #f8f8f8;
}

.navbar {
    background: #5cc17f;
    border-color: #5cc17f;
}
.navbar a {
    color: #fff;
}
.navbar-header {
    text-align: center;
    width: 100%;
}
.container>.navbar-header {
    margin: 0;
}
.navbar-brand {
    float:none;
    display:inline-block;
}


.step-bar {
    position: relative;
    padding-bottom: 8px;
    border-bottom: 1px solid #e4e2e2;
    color: #666666;
    font-size: 10px;
    text-align: center;
}
.step-bar .indicator-line {
    position: absolute;
    top: 9.5px;
    width: 100%;
    height: 1px;
    background: #333333;
}
.step-bar .indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 5px;
    background: transparent;
    vertical-align: middle;
    overflow: hidden;
}
.step-bar .indicator.active {
    background: #b2dfc1;
}
.step-bar .indicator .indicator-inner {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #5cc17f;
}

.page-header {
    margin-top: 0;
    padding-top: 9px;
}

ul.input-single-select,
ul.input-multi-select {
    background: transparent;
    list-style: none;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
ul.input-single-select li,
ul.input-multi-select li {
    float: left;
    width: 49%;
    padding: 6px 12px;
    margin: 0;
    list-style: none;
    background: #fff;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
ul.input-single-select li:nth-child(2),
ul.input-multi-select li:nth-child(2) {
    margin-left: 2%;
}
ul.input-single-select li.on,
ul.input-multi-select li.on {
    background: #5cc17f;
    color: #fff;
}