body {
    background-color: #1a1b20;
}

.container-fluid {
    padding: 0;
}

.result-block {
    padding: 80px 15px 20px 15px;
    color: #fff;
    text-align: center;
}

.result-block img.result-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}